---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Versicle from '../components/Versicle.astro';
import Invitation from '../components/Invitation.astro';
import Calendary from '../components/Calendary.astro';
import Locations from '../components/Locations.astro';
import ItinerarySection from '../components/ItinerarySection.astro';
import Dresscode from '../components/Dresscode.astro';
import GiftSection from '../components/GiftSection.astro';
import ConfirmationSection from '../components/ConfirmationSection.astro';
import FinalSection from '../components/FinalSection.astro';

---

<Layout>
	<main>
		<Hero />
		<Versicle />
		<Invitation />
		<Calendary />
		<Locations />
		<ItinerarySection />
		<Dresscode />
		<GiftSection />
		<ConfirmationSection />
		<FinalSection />
	</main>
</Layout>
