---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Versicle from '../components/Versicle.astro';

---

<Layout>
	<main>
		<Hero />
		<Versicle />
	</main>
</Layout>
