---

---

<section>
    <p>Por favor, confirma tu asistencia antes del<br><strong>10 de mayo de 2025</strong></p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdRxpCiSFnHOR8yCiOgFn4jcbIhdweCbnrtXyn338EvXhCL-A/viewform?usp=header" target="_blank" rel="noopener noreferrer">
        CONFIRMACIÓN DE ASISTENCIA
    </a>  
</section>

<style>
    section {
        display: grid;
        place-content: center;
        width: 100%;
        height: auto;
        max-width: 48rem;
        margin: 0 auto;
        padding: 2rem 0;
        gap: 1.5rem;
        text-align: center;
        justify-items: center;

        p {
            font-family: 'Geliat', serif;
            font-size: 1rem;
            line-height: 1.25rem;
            letter-spacing: 0.5px;
            color: var(--brown);
        }
        strong {
            font-weight: 800;
        }
        a {
            width: 100%;
            max-width: 20rem;
            text-decoration: none;
            color: #FFF;
            background-color: var(--gold);
            opacity: 0.9;
            transform: scale(1);
            padding: 0.5rem 0;
            border-radius: 0.5rem;
            font-family: 'Minion Roman', serif;
            font-size: 1rem;
            letter-spacing: 0.5px;
            transition: all 0.3s ease-in-out;

            &:hover {
                opacity: 1;
                transform: scale(1.05);
            }
        }
    }

    @media (width >= 768px) {
        section {

            p, a {
                font-size: 1.25rem;
                line-height: 1.5rem;
            }
            a {
                max-width: 25rem;
            }
        }
    }
</style>