---

---

<header>
    <img src="img/hero.webp" alt="" class="hero bright-fade">
    <img class="logo to-return-down" src="assets/logo.png" alt="">
    <span class="vanish-effect"></span>
    <img src="assets/watercolor-pink.png" alt="" class="pink return-pink">
</header>

<style>
    header {
        width: 100%;
        height: 100vh;
        max-width: 48rem;
        position: relative;
        overflow: hidden;
        margin: 0 auto;

        .hero {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            bottom: 0;
        }

        .logo {
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: 8vh;
            width: 30%;
            height: auto;
        }

        .vanish-effect {
            height: 30vh;
            width: 100%;
            background: linear-gradient(transparent, #fff);
            position: absolute;
            bottom: 0;
        }
        
        .pink {
            position: absolute;
            bottom: -14rem;
            left: -9rem;
            width: 190%;
            height: auto;
        }

        @media (width >= 768px) {
            .logo {
                top: 5vh;
                width: 17%;
            }
            .vanish-effect {
                height: 18vh;
            }
            .pink {
                bottom: -18rem;
                width: 120%;
                left: -2rem;
            }
        }

        @media (width >= 1080px) {
            .pink {
                width: 100%;
                left: 0;
                bottom: -17rem;
            }
        }

    }


</style>