---

---

<section>
    <img class="pink" src="assets/watercolor-pink.png" alt="">
    <img class="flower-left" src="assets/left-hero-flowers.png" alt="">
    <img class="flower-right" src="assets/right-hero-flowers.png" alt="">
    <p>Dos personas, dos historias, dos vidas,<br>para comenzar a ser un solo corazón y una<br>sola alma,<br>y caminar por siempre en un mismo sendero<br>y en una misma dirección.</p>
    <p>Con gran alegría, compartimos el inicio de<br>una nueva aventura juntos y la consolidación<br>de nuestro amor elevado a sacramento.</p>
    <p>Nosotros,</p>
    <h2>María de los Ángeles Álava Ruiz</h2>
    <h2>&</h2>
    <h2>Gustavo Andrés Burgos Peralta</h2>
    <p>con la bendición de Dios, de nuestras<br>familias, hemos querido responder al llamado<br>de una vocación juntos y unirnos en santo<br>matrimonio</p>
</section>

<style>
    section {
        display: grid;
        place-content: center;
        width: 100%;
        height: auto;
        max-width: 48rem;
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        text-align: center;


        .pink {
                position: absolute;
                left: -9rem;
                right: 0;
                top: -23rem;
                width: 190%;
                height: auto;
                opacity: .5;
                z-index: 0;
            }
    }
    @media ( width >= 768px ) {
        section {
            
            
            .pink {
                top: -26rem;
                left: -2rem;
                width: 120%;
            }
        }

        @media ( width >= 1024px ) {
        section {
            
            
            .pink {
                top: -22rem;
                left: 0;
                width: 100%;
            }
        }
    }
</style>