---
interface Props {
    side: string,
    src: string,
    text: string,
    hour: string
}

const { side, src, text, hour } = Astro.props
---

<div class=`item-${side} w-full flex items-center text-center`>
    <div class=`side-${side} min-w-[120px] md:min-w-[160px] flex flex-col justify-center items-center duration-500`>
        <img class="w-3/4 max-w-32" src={ src } alt="">
        <p class="text-xs md:text-base text-pretty w-[90%] mx-auto">{ text }</p>
        <h3 class="text-base md:text-xl">{ hour }</h3>
    </div>
    <div class="w-full md:max-w-[72px]">
        <div class=`line-${side} w-full h-[1px] bg-text duration-300`></div>
    </div>
</div>