---
interface Props {
    side: string,
    src: string,
    text: string,
    hour: string
}

const { side, src, text, hour } = Astro.props
---

<div class="container">
    <div class="side">
        <img src={ src } alt="">
        <p>{ text }</p>
        <h3>{ hour }</h3>
    </div>
    <div class="line-container">
        <div class=`line`></div>
    </div>
</div>
<style>
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
        font-family: "Corporate", sans-serif;
        margin-bottom: 1rem;

        .side {
            min-width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all 0.5s;
        }

        .right, .left {
            width: 50%;
        }
        img {
            width: 75%;
            max-width: 8rem;
        }
        p {
            width: 90%;
            margin: 0 auto;
            font-size: 1rem;
            line-height: 1.25rem;
            text-wrap: pretty;
        }
        h3 {
            font-size: 1rem;
            margin: 0;
        }

        
    }
    .line-container {
            width: 100%;
            
            .line {
                width: 100%;
                height: 1px;
                background-color: #fff;
                transition: all 0.5s;
            }
    }
    @media (width >= 768px) {
        .container {
            .side {
                min-width: 10rem;
            }
            p {
                font-size: 1rem;
            }
            h3 {
                font-size: 1.25rem;
            }
        }
        
        
    }
</style>