---
import ItemItineraryLeft from "./ItemItineraryLeft.astro";
import ItemItineraryRight from "./ItemItineraryRight.astro";


---

<section>
    <picture>
        <img src="/img/itinerary_cr.webp" alt="Itinerary" />
    </picture>
    <div class="main-container">
        <h2>Itinirerio</h2>
        <div class="container_itinerary">
            <div class="left-side">
                <ItemItineraryLeft
                    side="left"
                    src="assets/ico-itinerary-ring.png"
                    text="Nuestro Sí"
                    hour="18H00"/>
                <ItemItineraryLeft
                    side="left"
                    src="assets/ico-itinerary-cups.png"
                    text="Brindemos"
                    hour="21H00"/>
                <ItemItineraryLeft
                    side="left"
                    src="assets/ico-itinerary-party.png"
                    text="Empezamos la fiesta"
                    hour="22H30"/>
            </div>
            <div class="middle">
                <div class="circle up"></div>
                <div class="line"></div>
                <div class="circle down"></div>
            </div>
            <div class="right-side">
                <ItemItineraryRight
                    side="right"
                    src="assets/ico-itinerary-couple.png"
                    text="Recibamos a los novios"
                    hour="20H30"/>
                <ItemItineraryRight
                    side="right"
                    src="assets/ico-itinerary-buffet.png"
                    text="Cena"
                    hour="21H15"/>
            </div>
        </div>        
    </div>
    <img class="flowers left-up" src="assets/left_up-itinerary-flower.png" alt="">
    <img class="flowers right-up" src="assets/right_up-itinerary-flower.png" alt="">
    <img class="flowers left-center" src="assets/right_center-itinerary-flower.png" alt="">
    <img class="flowers right-center" src="assets/left_center-itinerary-flower.png" alt="">
    <img class="flowers left-down" src="assets/left_down-itinerary-flower.png" alt="">
    <img class="flowers right-down" src="assets/right_down-itinerary-flower.png" alt="">
    <img class="flowers down-center" src="assets/down_center-itinerary-flower.png" alt="">
</section>

<style>
    section {
        width: 100%;
        height: 100%;
        max-width: 48rem;
        margin: 0 auto;
        overflow: hidden;
        position: relative;

        picture {
            display: block;
            height: 12rem;
            width: 100%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center; 
            }
        }

        .main-container {
            position: relative;
            width: 70%;
            height: 90%;
            inset: 0;
            margin: 4rem auto;
            padding: 3rem 2rem 3rem;
            background-color: var(--gold);
            z-index: 1;
            overflow: hidden;


            h2 {
                font-size: 3.125rem;
                text-align: center;
                color: white;
                margin: 0 auto 3rem;
                font-weight: 400;
                font-family: 'Minion Pro', serif;
                letter-spacing: 0.5px;
            }
        }
    }
    .container_itinerary {
        display: grid;
        grid-template-columns: 1fr 1px 1fr;

        .left-side, .right-side {
            display: grid;
        }
        .left-side {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
        }
        .right-side {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
            height: 80%;
            margin: auto 0;
        }
        .middle {
            grid-row: 1/-1;
            grid-column: 2/3;
            height: 82%;
            width: 1px;
            background-color: white;
            display: flex;
            justify-content: center;
            position: relative;

            .circle {
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: white;
                position: absolute;
            }

            .circle.up {
                top: 0;
            }
            .circle.down {
                bottom: 0;
            }
        }
    }

    .flowers {
        position: absolute;
        z-index: 0;
        width: 60%;
        height: auto;
    }
    .flowers.left-up {
        top: 10rem;
        left: -4rem;
    }
    .flowers.right-up {
        top: 11rem;
        right: -4rem;
    }
    .flowers.right-center {
        top: 50%;
        right: -2rem;
        transform: translateY(-25%);
    }
    .flowers.left-center {
        top: 50%;
        left: -1rem;
        transform: translateY(-25%);
    }
    .flowers.left-down {
        bottom: 4rem;
        left: -1rem;
    }
    .flowers.right-down {
        bottom: 4rem;
        right: -1rem;
    }
    .flowers.down-center {
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        width: 50%;
    }
    


    

    @media ( width >= 768px) {
        

        picture {
            height: 23.5rem;            
        }
    }
</style>