---
import ItemItinerary from "./ItemItinerary.astro";


---

<section>
    <picture class="h-full max-h-96 w-full block overflow-hidden">
        <img class="w-full h-auto object-cover object-center" src="img/pic_1.webp" alt="">
    </picture>
    <article class="w-[95%] md:w-[60%] py-12 mx-auto">
        <h2 class="to-show font-sweet text-center text-5xl md:text-7xl mb-8 md:mb-10">Itinerario</h2>
        <div class="grid grid-cols-[1fr_1px_1fr] md:content-center">
            <div class="flex flex-col gap-16 overflow-hidden">
                <ItemItinerary 
                side="left"
                src="assets/rings.png"
                text="Nuestro Sí"
                hour="15H30"
                />
                <ItemItinerary 
                side="left"
                src="assets/chair.png"
                text="Busca tu asiento"
                hour="19H15"
                />
                <ItemItinerary 
                side="left"
                src="assets/cups.png"
                text="Brindemos por los novios"
                hour="20H30"
                />
                <ItemItinerary 
                side="left"
                src="assets/celebration.png"
                text="Empezamos la fiesta"
                hour="22H00"
                />
            </div>
            <div class="flex flex-col items-center">
                <div class="h-2 w-2 rounded-full bg-text"></div> <!-- circle -->
                <div class="h-[89%] w-[1px] bg-text"></div> <!-- line -->
                <div class="h-2 w-2 -translate-y-1 rounded-full bg-text"></div> <!-- circle -->
            </div>
            <div class="flex flex-col justify-evenly overflow-hidden">
                <ItemItinerary 
                side="right"
                src="assets/couple.png"
                text="Recibamos a los novios"
                hour="19H00"
                />
                <ItemItinerary 
                side="right"
                src="assets/camera.png"
                text="Piquemos algo mientras esperamos nuestra foto"
                hour="19H30"
                />
                <ItemItinerary 
                side="right"
                src="assets/buffet.png"
                text="Cena"
                hour="21H00"
                />
            </div>
        </div>
    </article>
</section>

<style>
    section {
        width: 100%;
        height: 100%;
        padding-bottom: 2rem;
        background-color: var(--color-primary);
        color: #FFF;
    }
</style>