---
import LocationCards from "./LocationCards.astro"
---

<section>
    <LocationCards 
    title="18h00"
    src="assets/icon-places-church.png"
    address="Catedral Metropolitana de Guayaquil San Pedro Apóstol"
    href="https://maps.app.goo.gl/gSfZSCiEzdWrSiXz6"
    />
    <img class="wcolor-left" src="assets/watercolor-places-left.png" alt="">
    <LocationCards 
    title="20h30"
    src="assets/icon-places-event.png"
    address="Centro de Convenciones Mall del Río Salón Pastaza"
    href="https://maps.app.goo.gl/QAkS8hbi6PvVVzzs6"
    delay="delay-1"
    />
    <img class="wcolor-right" src="assets/watercolor-places-right.png" alt="">

</section>

<style>
    section {
        width: 100%;
        max-width: 48rem;
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin: 0 auto;
        padding:0 5% 5rem 5%;
        overflow: hidden;
        box-sizing: border-box;

        .wcolor-left, .wcolor-right {
            position: absolute;
            left: -14rem;
            top: -3rem;
            width: 100vw;
            max-width: 48rem;
            opacity: 0.4;
            z-index: -1;
        }
        
        .wcolor-right {
            top: -7rem;
            left: unset;
            right: -14rem;
        }
    }

    @media (width >= 768px) {
        section {

           .wcolor-left {
                top: -5rem;
                left: -23rem;
            }
            
            .wcolor-right {
                top: -12rem;
                right: -23rem;
            }
        }
    }
</style>