---

---

<section>
    <img class="pink" src="assets/watercolor-pink.png" alt="">
    <h1 class="to-return-up">GUSTAVO & MARÍA DE LOS ÁNGELES</h1>
    <p class="to-return-up">A donde tu vayas, yo iré, donde tú vivas,<br>yo viviré; tu pueblo será el mío, tu <br>Dios será mi Dios.</p>
    <br><strong  class="to-return-up">Rt 1,16</strong>
</section>

<style>
    section {
        display: grid;
        place-content: center;
        width: 100%;
        height: 10rem;
        max-width: 48rem;
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        text-align: center;
        padding: 1rem 0;
        color: var(--brown);

        .pink {
            position: absolute;
            left: -9rem;
            right: 0;
            top: -20vh;
            width: 190%;
            height: auto;
            opacity: .5;
            z-index: 0;
        }

        h1 {
            font-size: 1.125rem;
            text-wrap: balance;
            z-index: 1;
            font-family: 'Geliat', sans-serif;
        }

        p {
            text-align: center;
            text-wrap: pretty;
            font-size: 1rem;
            line-height: 1.25rem;
            letter-spacing: 0.5px;
            margin: 0 auto;
            z-index: 1;
            font-family: 'Minion', serif;
        }
        
        strong {
            font-family: 'Minion', serif;
            z-index: 1;
        }


    }

    @media ( width >= 768px ) {
        section {
            height: 12rem;

            .pink {
                top: -12rem;
                left: -2rem;
                width: 120%;
            }
    
            h1 {
                font-size: 2rem;
            }
    
            br {
                margin-top: 2rem;
            }
    
            p {
                font-size: 1.25rem;
                line-height: 1.75rem;
                letter-spacing: 1px;
                font-family: 'Minion', serif;
            }
        }

        @media (width >= 1024px) {
            section {

                .pink {
                    width: 100%;
                    left: 0;
                    top: -8rem;
                }
            }
        }
        
    }
    
</style>